td {
	border-right: 1px solid black;
	padding-left: 5px;
	padding-right: 5px;
	border-bottom: 1px solid black
}
td:nth-child(6){
	border-right: none;
}
tr:first-child td {
 	border-bottom: 2px solid black;
 }
 .disposedCases {
 	position:relative;
 	margin-top:100px;
 }

 div {
 	display: inline-block;

 }
 .disposedCases {
 	margin-left: 50px;
 }